{% include '_header.html.twig' %}
{% if  article.published %}

<article style="background-color: {{ article.color }}">
    <h2>{{ article.title }}</h2>
    <p>{{ article.description }}</p>
</article>

{% endif %}
{% include '_footer.html.twig' %}